// Overwrite some CMB2 styling

.postbox.cmb2-postbox .cmb2-wrap > .cmb-field-list > .cmb-row {
  padding: 1em 0;

  &.cmb-type-title {
    padding: 0.6em 1em;
    background-color: #fafafa;
    margin: 0 -12px;
    border-top: 1px solid #e9e9e9;
  }

  &.cmb2-id--pixproof-main-gallery {
    margin: 0;
    border-bottom: none;
  }

  .cmb2-metabox-description {
    display: block;
    color: #757575;
    font-style: italic;
    margin: 0;
    padding-top: .5em;
    font-size: 13px;
    line-height: 1.5;
  }
}
